@font-face { 
    font-family: "PattayaRegular";
    src: url("fonts/Pattaya-Regular.ttf") format("truetype");
    font-style: bold;
    font-weight: 400;
}


html, body {
    background: url(images/background-image.png);
    background-size: cover;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
}

a {
    text-decoration: none;
}

nav {
    white-space: nowrap;

}

.logo {
    font-family: 'PattayaRegular', serif;
    color:red;
    font-size: 60px;
    -webkit-text-stroke: 2px #00FF66;
    margin-left: 30px;
}

.logo:hover {
    color:#00FF66;
    -webkit-text-stroke: 3px red;
    cursor: default;
}



.navigation_panel_element {
    font-family: 'PattayaRegular', serif;
    color:#ffffff;
    font-size: 40px;
    position: relative;
    margin-left: 14%;
}

.navigation_panel_element_practise {
    color:#ffffff;
}

.practise {
    display: inline-block;
}

#pen {
    padding-left: 5px;
    width: 40px;
    height: 40px;
}

.navigation_panel_element:hover:before {
    transform: scaleX(1);
    transition: 0.45s;
}

.navigation_panel_element::before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -2px;
    transform: scaleX(0);
    transition: 0.25s;
}

/* Окно событий */
.main_frame {
    background-color: white;
    border-radius: 3rem;
    height: 88%;
    margin: 1% 11% 0% 11%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.main_frame_profile {
    align-items: normal;
}


/* Регистрация и авторизация */

.registration_form {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    font-family: 'PattayaRegular', serif;
    justify-content: center;
}

.text_fields {
    margin-top: 2%;
    border:2px solid #0075FF;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 20px;
    box-shadow: 0 0 30px #0075FF;
}

input {
    margin: 23px 0;
    border: none;
    text-align: center;
    font-family: 'PattayaRegular', serif;
    font-size: 20px;
    color: black;
    outline: none;
    position: relative;
}

input::placeholder {
    color:#0075FF;
}

input:focus::placeholder {
    color: black; 
}

h1 {
    text-align: center;
    font-size: 35px;
}

label {
    color:red;
    text-decoration: underline;
    font-size: 18px;
    text-align: center;
    cursor: default;
}

button {
    margin: 40px 3%;
    border-radius: 10px;
    font-family: 'PattayaRegular', serif;
    font-size: 30px;
    cursor: pointer;
    color: white;
    background-color: #0075FF;
    border:2px solid white;
}

button:disabled {
    background-color: gray;
}

#minus_button:disabled {
    background-color: gray;
}

button:hover {
    box-shadow: 0 0 25px #0075FF;
    transition: 0.45s;
}

.ref_to_registration {
    margin: 0;
    color:black;
    display: flex;
    justify-content: center;
    font-size: 23px;
    text-decoration: underline transparent;
}

.ref_to_registration:hover{
    text-decoration: underline; 
    transition: 0.5s;
}


.avatar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /*padding-left: 10%; */
    position: relative;
    z-index: 1;
}

.avatars {
    display: flex;
    position: relative;
}

.avatar_image {
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    z-index: 1;
    /* background-image: url(images/almaz.jpg);
    background-size: 280px 270px;
    /* background-size: 70% 70%;  */
    /* border-radius: 50% 50% 60% 60%; */
    /* background-position: center center;  */
    /* background-clip: padding-box; */
    /* background-origin: border-box;
    background-origin: initial; */ 

}

.oval_avatar {
    position:absolute;
    width: 204px;
    height: 200px;
    top: 50px;
}

.oval_avatar_image {
    width: 204px;
    height: 200px;
    border-radius: 52%;
    /* padding-left: 50px;
    padding-bottom: 50px; */
    z-index: 0;

}

.avatar_upload {
    position: relative;
    width: 100%;
    height: auto;
    z-index: -100;
    border-radius: 30px 30px 30px 30px;
}

.upload_avatar_label{
    color: black;
    font-family: 'PattayaRegular', serif;
    text-decoration: none;
}

.upload_avatar_label:hover {
    text-decoration: underline;
}

.send_photo_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    position: relative;
    z-index: 2;
}

.fullname {
    border: none;
    font-family: 'PattayaRegular', serif;
    color:black;
    font-size: 40px;
    display: flex;
    white-space: nowrap;
    justify-content: center;
    margin-top: 0;
    margin-left: 10%;
    overflow: visible;
    
}

.avatar_and_name {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.info_menu {
    display: flex;
    list-style: none;
    font-family: 'PattayaRegular', serif;
    font-size: 15px;
    text-align: start;
}

.info_menu:hover {
    display: flex;
}

.input_info {
    margin: 0;
    font-size: 15px;
    text-align: start;
    border: black;  
    outline: #0075FF;
} 

.personal_status {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.status_name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 0;
}

progress {
    margin-top: 2%;
    -webkit-appearance: none;
    width: 50%;
    height: 20px;
    color: #E53F3F;
    border-radius: 13px;
    &::-webkit-progress-bar {
        background: #00FF66;
    }
    &::-webkit-progress-value {
        background: #E53F3F;
    }

}

.count_words {
    font-family: 'PattayaRegular', serif;
    font-size: 35px;
    margin-top: 2%;
}

.full_profile_and_logout {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.logout {
    margin: 0;
    margin-bottom: 3%;
    font-size: 20px;
    background-color: #E53F3F;
}

.logout:hover {
    box-shadow: 0 0 25px #E53F3F;
    transition: 0.45s;
}

.full_profile_button {
    background-color: #0075FF;
}

.full_profile_button:hover {
    box-shadow: 0 0 25px #0075FF;
    transition: 0.45s;
}



/* Подробная информация */

.main_frame_fp {
    flex-direction: row;
    justify-content: flex-start;
}

.avatar_and_name_fp {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 2;
}

.avatar_image_fp {
    width: 400px;
    height: 400px;


}

.oval_avatar_fp {
    width: 277px;
    height: 275px;
    top: 65px;
}

.oval_avatar_image_fp {
    width: 277px;
    height: 275px;
    /* left: 11px;
    top: 11px; */
    border-radius: 50%;
}

.send_photo_form_fp {
    padding-top: 70px;
}

.fullname_fp {
    font-size: 42px;
    margin: 0;
    white-space: wrap;
    text-align: center;
    justify-content: center;
    width: 80%;
    margin: 0 5%;
}

.fullname_fp::placeholder {
    font-size: 30px;
    color: #0075FF;
}

.fullname_fp:focus::placeholder {
    color: black;
}

.fullname_fp:focus {
    outline: solid;
}

.full_info {
    font-family: 'PattayaRegular', serif;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.full_info_label {
    font-size: 40px;
    margin-top: 1%;
    margin-bottom: 5%;
}

.message_panel {
    height: 26px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
}
.success_update {
    font-size: 22px;
    color: black;
    -webkit-text-stroke: 0.25px;
    margin: 0;
    border: 4px solid #00FF66;
    /* background-color: #00FF66; */
    width: 40%;
    padding-left: 1%;
}

.failed_update {
    font-size: 22px;
    color: red;
    -webkit-text-stroke: 0.25px;
    margin: 0;
    border: 4px solid red;
    /* background-color: red; */
    width: auto;
    padding: 0 1%;
}

.info_list {
    list-style-type: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

li {
    color:#0075FF;
    position: relative;
    /* text-decoration: underline; */
    display: inline-flex;
}

/* input li:focus {
    border: #0075FF;
} */

.info_list > label {
    text-align: start;
    color: #0075FF;
    text-decoration: none;
    height: 60px;
}

.email_fp:focus {
    border: 1px solid black;
}
.full_profile_and_logout_fp {
    padding-top: 10%;
    justify-content: space-between;
}

.password {
    display: inline;
    position: relative;

}

.password:focus {
    outline: black;
}

.input_new_password {
    border: 1px solid black;
}

.change_password {
    color: #23282B;
    font-size: 20px;
    margin: 0;
}

.back {
    padding-right: 5%;
}


/* Сборник */

.main_frame_sbornik {
    justify-content: normal;
}

.function_list {
    display: flex;
    height: 12%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.function_frame {
    display: flex;
}

#function_menu {
    background-color: #0075FF;
    border: 4px solid #0075FF;
    color: white;
    font-family: 'PattayaRegular', serif;
    font-size: 25px;
    border-radius: 3rem;
    text-align: center;
    width: 40%;
    margin-top: 1%;
}

.content_list {
    display: flex;
}

#function_menu > option {
    background-color: #ffffff;
    color: black;
}

.content_item {
    display: none;
    width: 100%;
    /* margin-top: 2%; */


}

.content_item.is-active {
    display: flex;
    flex-direction: column;
}

.table_params {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* width: 90%; */
}

.table_params label {
    color: black;
    text-decoration: none;
    font-family: 'PattayaRegular', serif;
    font-size: 25px;
    text-align: center;
    height: 200px;
}

#name, #new_name, #count_words, #new_count_words {
    border: 1px solid #0075FF;
    color: #0075FF;
    margin: 0;
    margin-top: 1%;
    /* margin-left: 3%; */
    height: 30px;
}

#plus_button {
    margin: 0;
    margin-left: 6px;

}

#minus_button {
    margin: 0;
    margin-left: 12px;
    background-color: red;
}

#minus_button:hover {
    box-shadow: 0 0 25px #E53F3F;
    transition: 0.45s;
}

.get_table_form input {
    margin-left: 3%;
    border: 1px solid #0075FF;
    color: #0075FF;
}
.section_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
}

.section_count_words {
    display: inline-block;
}
.section_count_words div {
    display: flex;
    align-items: center;
}

.table_frame {
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    max-height: 640px;
    /* margin-bottom: 5%; */
    margin-top: 5%;
    width: 180%;
}

#table_to_change, #table, #table_to_view {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    
}
#table_to_change td, #table td, #table_to_view td {
    border: 2px solid black;
    word-wrap: break-word;
    height: 20px;

}

/* #table, #get_table #table_name {
    text-align: center;
} */

.get_table_form > label {
    color: black;
    text-decoration: none;
    font-family: 'PattayaRegular', serif;
    font-size: 25px;
    text-align: center;
    white-space: nowrap;
}

.get_table_form {
    display: flex;
    max-height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.section_name_2 {
    display: inline;
}


